<ion-view title="Cambiar Contraseña" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="cambiarContraseA-container7">
      <form id="cambiarContraseA-form6" class="list">
        <label class="item item-input" id="cambiarContraseA-input8">
          <input type="text" placeholder="Contraseña actual">
        </label>
        <div class="spacer" style="width: 283.2px; height: 5px;"></div>
        <label class="item item-input" id="cambiarContraseA-input9">
          <input type="text" placeholder="Nueva Contraseña">
        </label>
        <div class="spacer" style="width: 283.2px; height: 5px;"></div>
        <label class="item item-input" id="cambiarContraseA-input10">
          <input type="text" placeholder="Repita Contraseña">
        </label>
      </form>
    </div>
    <a ui-sref="loginRegister()" id="cambiarContraseA-button4" class="button button-positive button-block">Guardar</a>
  </ion-content>
</ion-view>