<ion-view title="Login / Register" id="page6">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/eEyDGaaSo6b1ZTfunoGt_LogoRadioUniversitariavertical.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="loginRegister-container1">
      <form id="loginRegister-form1" class="list">
        <label class="item item-input" id="loginRegister-input1" name="email">
          <input type="email" placeholder="Email" ng-model="data.email">
        </label>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
      </form>
    </div>
    <form id="loginRegister-form2" class="list">
      <label class="item item-input" id="loginRegister-input2" name="password">
        <input type="password" placeholder="Password" ng-model="data.clave">
      </label>
      <a ng-click="enviar(data)" id="loginRegister-button1" class="button button-positive button-block">Login</a>
      <h5 id="loginRegister-heading1" style="color:#000000;font-weight:400;font-style:italic;text-align:center;">...or login with:</h5>
      <button class="button button-block button-positive" ng-click="loginFacebook()">
        <b>Facebook</b>
      </button>
      <center>
        <a ui-sref="registrar">Registrarse...</a>
      </center>
    </form>
  </ion-content>
</ion-view>