<ion-view title="Noticias" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="noticias-container3">
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="noticias-slider2" style="width:100%;height:200px;">
        <div>
          <img src="http://radio.unl.edu.ec/radiounl/{{foto.FOTO}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slides>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list id="noticias-list103" ng-repeat="noticia in noticias">
      <ion-item class="item-thumbnail-left" id="noticias-list-item9" ui-sref="tabsController.tituloDeNoticia({id:'{{noticia.IDNOTICIA}}'})"  >
        <img src="http://radio.unl.edu.ec/radiounl/{{noticia.FOTO}}" >
        <h2>{{noticia.TITULO}} </h2>
        <span>{{noticia.DESCRIPCION}}</span><br>
        <span>{{noticia.FECHA}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>