<ion-view title="Programación" id="page4">
  <ion-content padding="true" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <ion-list id="programaciN-list20">
      <ion-item class="item-icon-left positive" id="programaciN-list-item135" ui-sref="tabsController.programaciNDiaria({dia:'LUNES'})">
        <i class="icon ion-android-calendar"></i>Lunes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item136" ui-sref="tabsController.programaciNDiaria({dia:'MARTES'})">
        <i class="icon ion-android-calendar"></i>Martes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item137" ui-sref="tabsController.programaciNDiaria({dia:'MIERCOLES'})">
        <i class="icon ion-android-calendar"></i>Miercoles </ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item138" ui-sref="tabsController.programaciNDiaria({dia:'JUEVES'})">
        <i class="icon ion-android-calendar"></i>Jueves</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item139" ui-sref="tabsController.programaciNDiaria({dia:'VIERNES'})">
        <i class="icon ion-android-calendar"></i>Viernes</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item140" ui-sref="tabsController.programaciNDiaria({dia:'SABADO'})">
        <i class="icon ion-android-calendar"></i>Sabado</ion-item>
      <ion-item class="item-icon-left positive" id="programaciN-list-item141" ui-sref="tabsController.programaciNDiaria({dia:'DOMINGO'})">
        <i class="icon ion-android-calendar"></i>Domingo </ion-item>
    </ion-list>
  </ion-content>
</ion-view>