
<ion-view title="Programación Diaria" id="page5">
  <ion-content padding="true" class="has-header" >
    <ion-list id="programaciNDiaria-list107">
      <div class="item item-body" id="programaciNDiaria-list-item-container1">
        <ion-list id="programaciNDiaria-list99" ng-repeat="programa in programas">
          <ion-item class="item-divider" id="programaciNDiaria-list-item-divider159">{{programa.HORA}}</ion-item>
          <ion-item id="programaciNDiaria-list-item8">{{programa.TITULO}}</ion-item>
        </ion-list>
        <div id="programaciNDiaria-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Programación
            <strong>semanal</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>