<ion-view title="Radio Online" id="page2">
  <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
    <div>
      <img src="img/eEyDGaaSo6b1ZTfunoGt_LogoRadioUniversitariavertical.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <ion-list>
      <div class="leanback-player-audio" width="350px" align="center">
       
          <audio preload="metadata" controls>
           <!-- HTML5 <audio> sources -->
            <source src="http://radio.unl.edu.ec:8080/stream" type='audio/mpeg'/>
          </audio>
       </div>
    </ion-list>
  </ion-content>
</ion-view>