<ion-view title="Registrar" id="page7">
  <ion-content padding="true" scroll="false" class="has-header">
    <div>
      <img src="img/eEyDGaaSo6b1ZTfunoGt_LogoRadioUniversitariavertical.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h5 id="registrar-heading3" style="color:#000000;font-style:italic;text-align:center;">Registrar Usuario</h5>
    <div id="registrar-container2">
      <form id="registrar-form3" class="list">
        <label class="item item-input" id="registrar-input5" name="nombre">
          <input type="text" placeholder="Nombre">
        </label>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <label class="item item-input" id="registrar-input3" name="email">
          <input type="email" placeholder="Email">
        </label>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
      </form>
    </div>
    <form id="registrar-form4" class="list">
      <label class="item item-input" id="registrar-input4" name="password">
        <input type="password" placeholder="Password">
      </label>
      <div class="spacer" style="width: 300px; height: 13px;"></div>
      <label class="item item-input" id="registrar-input6" name="confpassword">
        <input type="password" placeholder="Confirmar Password">
      </label>
      <a ui-sref="loginRegister()" id="registrar-button3" style="font-weight:300;border-radius:12px 12px 12px 12px;" class="button button-positive button-block">Crear Cuenta</a>
      <div></div>
    </form>
  </ion-content>
</ion-view>