<ion-view  id="page9">
    <ion-nav-title>{{noticia.TITULO}}</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="https://radio.unl.edu.ec/radiounl/{{noticia.FOTO}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="tituloDeNoticia-container6" >
        <p style="text-align: justify;">{{noticia.DESCRIPCION}}</p>
        <p><strong>FECHA: </strong>{{noticia.FECHA}}</p>
    </div>
  </ion-content>
</ion-view>